@import "../common.scss";

.wrapper{
    background-color: $text-color-light;
    width: 15vw;
    margin: 10px;
    height: 20vh;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid $text-color-white;
    border-radius: 10px;
    color: $text-color-white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: larger;
    padding: 5px;
    align-self: center;
}
.btn{align-self: center;
    color: $text-color-white;
    font-weight: bolder;
    width: fit-content;
     margin: 5px 0;
     background: $button-color;
     border: 1px solid $text-color-white;
     border-radius: 5px;
     box-shadow: 0 2px 0 $text-color-white;
}
.btn:hover{
    border: 1px solid $text-color-white;
    box-shadow: 0 2px 0 $text-color-white;
    cursor: pointer; 
 }
 .btn:active{
    cursor: pointer; 
    box-shadow: 0 1px 0 $text-color-white;
    transition: all 0.1s ease 0s;
}
.trans{
    font-size: larger;
}