.wrapper {
  display: flex;
  justify-content: center;
  background: $text-color-light;
}
.row{
  display: -ms-grid;
  display: grid;
  width: 90vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
