@import "../common.scss";

.container{
    display: flex;
    justify-content: center;
   min-height: 80vh;
}
.main{
    display: flex;
    justify-content: center;
    align-content: center;

}
.btn{align-self: center;
    color: $text-color-white;
    font-weight: bolder;
    font-size: large;
    width: fit-content;
     margin: 5px 0;
     background: $button-color;
     border: 1px solid $text-color-white;
     border-radius: 10px;
     box-shadow: 0 2px 0 $text-color-white;
     padding: 20px;
}
.btn:hover{
    border: 1px solid $text-color-white;
    box-shadow: 0 2px 0 $text-color-white;
    cursor: pointer; 
 }
 .btn:active{
    cursor: pointer; 
    box-shadow: 0 1px 0 $text-color-white;
    transition: all 0.1s ease 0s;
}